@media (min-width: 1200px) {
  .page-container {
    flex-direction: row;
  }

  .column-one-container {
    width: 40%;
    min-width: 800px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem;
  }

  .profile-image-container {
    margin: 0 4em 0 0;
  }

  .column-two-container {
    width: 60%;
  }

  .inner-container {
    padding: 0;
    margin: 0;
  }

  header {
    display: block;
  }

  .image-quote-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header-text {
    text-align: left;
    margin: 2em 0 3em;
  }

  blockquote {
    text-align: left;
    max-width: 400px;
  }

  .lets-connect {
    display: none;
  }

  .column-two-container {
    display: block;
  }

  .divider {
    margin: 0 0 4em;
    border-bottom: 1px solid white;
    opacity: 0.4;
    width: 100%;
  }

  .tech {
    display: block;
  }

  footer {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 3em;
    padding-top: 2em;
  }

  .social-icons-container {
    justify-content: flex-start;
  }

  .social-icon:link,
  .social-icon:visited,
  .social-icon:focus {
    margin-right: 1.5em;
    width: 3.5em;
    height: 3.5em;
    transition: all 0.35s;
  }

  .social-icon:hover,
  .social-icon:active {
    color: #ece1cc;
    transform: translateY(-10px);
    background: #3c3d59;
  }

  .fa-brands,
  .fa-solid,
  .fa-regular {
    font-size: 1.75rem;
  }
}
