* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 350px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background: url(images/funky-lines.webp);
}

.page-container {
  display: flex;
  flex-direction: column;
}

/*******************
    Typography
*******************/

blockquote {
  font-family: "Inria Serif", serif;
  text-transform: none;
  font-size: 1.5rem;
  color: #ece1cc;
  margin: 0 auto 4em;
  text-shadow: 0px 0px 1px white;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 3em;
  color: #fff;
}

h2 {
  margin-bottom: 2.5em;
  color: #ece1cc;
  text-shadow: 0px 0px 1px white;
}

/*******************
    Layout
*******************/

header {
  display: flex;
  flex-direction: column;
}

.header-text {
  order: -1;
}

.column-one-container {
  background-color: rgba(60, 61, 89, 0.90);
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-container {
    padding: 0 2em;
}

.profile-image-container {
  width: 10em;
  height: 10em;
  margin: 0 auto 3em;
  border: 2px solid #ece1cc;
  border-radius: 50%;
  padding: 0.5rem;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: .9;
}

.divider {
    margin: 0 0 4em;
    border-bottom: 1px solid white;
    opacity: .4;
    width: 100%;
}

/*******************
    Tech Selection
*******************/

.tech {
  display: none;
}

/*******************
    Social Links
*******************/

.social-icons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social-icon {
    border: 2px solid #ece1cc;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands, 
.fa-solid,
.fa-regular {
    font-size: 2.25rem;
    color: #fff;
    text-decoration: none;
}



/*******************
    Project cards
*******************/
