@media (min-width: 1000px) {
  .page-container {
    flex-direction: row;
  }

  /*******************
    Column 1
  *******************/

  .column-one-container {
    min-height: 100vh;
    width: 40%;
    min-width: 800px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5em;
  }

  .profile-image-container {
    margin: 0 4em 0 0;
  }

  .inner-container {
    padding: 0;
    margin: 0;
  }

  header {
    display: block;
  }

  .image-quote-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header-text {
    text-align: left;
    margin: 3em 0 3em;
  }

  blockquote {
    text-align: left;
    max-width: 400px;
    font-size: 1.75rem;
    text-shadow: 0px 0px 3px var(--dark);
    letter-spacing: 0.075rem;
  }

  .header-title {
    font-size: 5rem;
  }

  .divider {
    margin: 0 0 2em;
    border-bottom: 1px solid white;
    opacity: 0.4;
    width: 100%;
  }

  /*******************
    Tech Selection
  *******************/

  .tech-container {
    display: block;
    width: 100%;
    text-align: left;
  }

  .heading-tech {
    margin-bottom: 1em;
  }

  .tech-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .tech-list li {
    width: 30%;
    margin-bottom: 1em;
  }

  .tech-btn {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
    color: white;
    background: none;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
  }

  .tech-btn.hover {
    transform: scale(1.1);
  }

  .select-circle {
    height: 1.5em;
    width: 1.5em;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.25s;
  }

  .select-circle.selected {
    color: var(--dark);
    background: var(--light);
    border: 1px solid var(--dark);
  }

  /*******************
    Social Links
  *******************/

  footer {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 3em;
    padding-top: 2em;
  }

  .social-icons-smaller-outer-container {
    display: none;
  }

  .social-icons-container-larger {
    display: flex;
    justify-content: flex-start;
  }

  .social-icon-larger:link,
  .social-icon-larger:visited,
  .social-icon-larger:focus {
    border: 2px solid #fff;
    margin-right: 1.5em;
    width: 3.5em;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s;
    border-radius: 50%;
  }

  .social-icon-larger:hover,
  .social-icon-larger:active {
    transform: translateY(-10px);
    background: var(--light);
    color: var(--dark);
  }

  .fa-brands,
  .fa-solid,
  .fa-regular {
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.35s;
    border-radius: 50%;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s;
  }

  .social-icon-larger .fa-brands:hover,
  .social-icon-larger .fa-solid:hover,
  .social-icon-larger .fa-regular:hover,
  .social-icon-larger .fa-brands:active,
  .social-icon-larger .fa-solid:active,
  .social-icon-larger .fa-regular:active {
    color: var(--dark);
  }

  /*******************
    Column 2
  *******************/

  .column-two-container {
    width: 60%;
  }
}
