/*******************
    Social Links
*******************/

.social-icons-container-larger {
  display: none;
}

.social-icons-smaller-outer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  background: rgba(60, 61, 89, 0.9);
}

.social-icons-container-smaller {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 350px;
}

a.social-icon-smaller:link {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.social-icon-smaller:active,
.social-icon-smaller:focus {
  cursor: pointer;
  background: var(--dark);
  color: var(--light);
}

.social-icon-smaller .fa-brands,
.social-icon-smaller .fa-solid,
.social-icon-smaller .fa-regular {
  font-size: 1.5rem;
  color: #fff;
  border: 2px solid white;
  border-radius: 50%;
  background: none;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-smaller .fa-brands:active,
.social-icon-smaller .fa-solid:active,
.social-icon-smaller .fa-regular:active {
  background: var(--light);
  color: var(--dark);
  border: 1px solid var(--dark);
}

@media (min-width: 1250px) {
  footer {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 3em;
    padding-top: 2em;
  }

  .social-icons-smaller-outer-container {
    display: none;
  }

  .social-icons-container-larger {
    display: flex;
    justify-content: flex-start;
  }

  .social-icon-larger:link,
  .social-icon-larger:visited,
  .social-icon-larger:focus {
    border: 2px solid #fff;
    margin-right: 1.5em;
    width: 3.5em;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s;
    border-radius: 50%;
  }

  .social-icon-larger:hover,
  .social-icon-larger:active {
    transform: translateY(-10px);
    background: var(--light);
    color: var(--dark);
  }

  .fa-brands,
  .fa-solid,
  .fa-regular {
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.35s;
    border-radius: 50%;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s;
  }

  .social-icon-larger .fa-brands:hover,
  .social-icon-larger .fa-solid:hover,
  .social-icon-larger .fa-regular:hover,
  .social-icon-larger .fa-brands:active,
  .social-icon-larger .fa-solid:active,
  .social-icon-larger .fa-regular:active {
    color: var(--dark);
  }
}
