footer.social-small {
  margin-top: 3em;
  background-color: rgba(60, 61, 89, 1);
  display: flex;
  justify-content: center;
}

footer.social-large {
  display: none;
}

.social-icons-container {
  display: flex;
  width: 100%;
  max-width: 350px;
  padding: 1.5em 2em;
  justify-content: space-between;
}

.social-icon:link,
.social-icon:focus,
.social-icon:visited {
  border: 2px solid #fff;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.35s;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
}

.social-icon:hover,
.social-icon:active {
  background: var(--light);
  color: var(--dark);
}

.fa-brands,
.fa-solid,
.fa-regular {
  font-size: 1rem;
  color: #fff;
  transition: all 0.35s;
  border-radius: 50%;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.35s;
}

.social-icon-larger .fa-brands:hover,
.social-icon-larger .fa-solid:hover,
.social-icon-larger .fa-regular:hover,
.social-icon-larger .fa-brands:active,
.social-icon-larger .fa-solid:active,
.social-icon-larger .fa-regular:active {
  color: var(--dark);
}

@media (min-width: 1250px) {
  footer.social-small {
    display: none;
  }

  footer.social-large {
    display: flex;
    width: 100%;
    margin-top: 3.5em;
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }

  .social-icons-container {
    padding: 1.75em 2em 0 0;
  }

  .social-icon:link,
  .social-icon:visited,
  .social-icon:focus {
    width: 3.25em;
    height: 3.25em;
  }

  .social-icon:hover,
  .social-icon:active {
    transform: translateY(-10px);
    background: var(--light);
    color: var(--dark);
  }

  .fa-brands,
  .fa-solid,
  .fa-regular {
    font-size: 1.5rem;
  }
}
