.tech-list {
  display: none;
}

.heading-tech {
  font-size: 1.4rem;
  margin: 0;
}

@media (min-width: 1250px) {
  .tech-container {
    display: block;
    width: 100%;
    text-align: left;
  }

  .heading-tech {
    margin-bottom: 1.5em;
  }

  .tech-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .tech-list li {
    width: 30%;
    margin-bottom: 1em;
  }

  .tech-btn {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
    color: white;
    background: none;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
  }

  .tech-btn.hover {
    transform: scale(1.1);
  }

  .select-circle {
    height: 1.5em;
    width: 1.5em;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.25s;
  }

  .select-circle.selected {
    color: var(--dark);
    background: var(--light);
    border: 1px solid var(--dark);
  }
}
